:root {
    font-family: Roboto, sans-serif;
    line-height: 1.3;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    color: gray;
}
header > h1 {
    font-size: 1.5rem;
}
header > .btn-add-book {
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

/* DIALOG START */
dialog {
    margin: auto;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 5px gray;
}
dialog > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
    margin: 20px 0;
}
dialog h3 {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    /* background-color: red; */
    color: gray;
    width: 100%;
    font-size: 1.3rem;
}
dialog::backdrop {
    background-color: rgba(149, 149, 149, 0.59);
}
dialog > form > .form-row {
    display: flex;
    gap: 10px;
    align-items: center;
}
dialog > form > .form-row:last-child {
    justify-content: space-evenly;
    margin: 20px 0;
}
dialog .form-row > label {
    width: 40%;
    text-align: right;
}
dialog .form-row > input {
    padding: 8px 12px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
}
dialog .form-row > input:focus {
    outline: 1px solid rgb(201, 201, 201);
}
dialog .form-row > button {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
}
dialog .form-row > button:hover {
    transition: ease-in-out .2s;
    transform: translateY(-1px);
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.472);
}
/* DIALOG END */

main > h2 {
    font-size: 1.4rem;
    text-align: center;
}

/* BOOK CARDS START */
.books-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin: 10px 20px;
}

.book-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 0.9rem;
    overflow: hidden;
    background-color: rgb(246, 244, 241);
    box-shadow: 1px 1px 5px rgb(221, 221, 221);
    font-size: 1.1rem;
}

.book-item > .book-item-row {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.book-item > h3 {
    text-align: center;
    background-color: red;
    padding: 10px 0;
    top: 0;
    color: white;
    margin-bottom: 20px;
}
.book-item > .red {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.book-item > .green {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.book-item-row > .book-field {
    /* width: 20%; */
    text-align: right;
    font-weight: bold;
}
.book-item-row > .book-data {
    /* width: 80%; */
}
.book-item-row:has(.book-button) {
    justify-content: center;
    margin: 20px 0;
}
.book-item-row > .book-button {
    border: none;
    padding: 8px 20px;
    background-color: red;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}