:root {
    font-family: Roboto, sans-serif;
    line-height: 1.3;
    font-size: 16px;
}

input {
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 248, 248);
    color: gray;
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.374);
}
header > h1 {
    font-size: 1.5rem;
}
header > .btn-add-book {
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

/* DIALOG START */
dialog {
    margin: auto;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 5px gray;
}
dialog .dialog-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
}
dialog .dialog-header button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
dialog .dialog-header svg {
    fill: gray;
    width: 30px;
}
dialog .dialog-header svg:hover {
    fill: crimson;
}
dialog > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
    margin: 20px 0;
}
dialog h3 {
    /* text-align: center;
    padding: 10px 0;
    margin-top: 20px; */
    /* background-color: red; */
    color: gray;
    /* width: 100%; */
    font-size: 1.3rem;
}
dialog::backdrop {
    background-color: rgba(149, 149, 149, 0.59);
}
dialog > form > .form-row {
    display: flex;
    gap: 15px;
    align-items: center;
}
dialog > form > .form-row:last-child {
    justify-content: space-evenly;
    margin: 20px 0;
}
dialog .form-row > label {
    width: 15%;
    text-align: right;
}
dialog .form-row > input {
    padding: 8px 12px;
    border: none;
    background-color: rgb(222, 222, 222);
    border-radius: 6px;
}
dialog .form-row:has(input[type="checkbox"]) {
    justify-content: center;
    gap: 20px;
}
dialog .form-row > input[type="checkbox"] {
    appearance: none;
    margin: 0;
    background-color: rgb(222, 222, 222);
    font: inherit;
    color: black;
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
}
dialog .form-row > input[type="checkbox"]::before {
    content: "";
    width: 16px;
    height: 16px;
    transition: 120ms transform ease-in-out;
    transform: scale(0);
    box-shadow: inset 1em 1em rgb(0, 140, 255);
    border-radius: 3px;
}
dialog .form-row > input[type="checkbox"]:checked::before {
    transform: scale(1);
}
dialog .form-row > input:focus {
    outline: 1px solid rgb(201, 201, 201);
}
dialog .form-row > button {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
}
dialog .form-row > button:hover {
    transition: ease-in-out .2s;
    transform: translateY(-1px);
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.472);
}
dialog .form-row > button:active {
    transform: translateY(-3px);
}
/* DIALOG END */

main > h2 {
    font-size: 1.4rem;
    text-align: center;
}

/* BOOK CARDS START */
.books-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 10px 20px;
}

.book-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 0.9rem;
    overflow: hidden;
    background-color: rgb(246, 244, 241);
    box-shadow: 1px 1px 5px rgba(199, 199, 199, 0.7);
    font-size: 1.1rem;
}

.book-item > .book-item-row {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.book-item > h3 {
    text-align: center;
    background-color: rgb(0, 128, 255);
    padding: 15px 0;
    top: 0;
    color: white;
    margin-bottom: 20px;
    font-size: 1.3rem;
}
.book-item .red,
.book-item .green {
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 8px 16px;
    justify-content: center;
    border-radius: 20px;
}
.book-item .red {
    background-color: rgba(255, 0, 0, 0.109);
    color: red;
}
.book-item .green {
    background-color: rgba(0, 128, 0, 0.125);
    color: green;
}

.book-item-row > .book-field {
    /* width: 20%; */
    text-align: right;
    font-weight: bold;
}
.book-item-row:has(.book-button) {
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 20px;
}
.book-item-row > .book-button {
    border: none;
    padding: 8px 20px;
    background-color: rgb(85, 159, 255);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.book-item-row > .book-button:hover {
    transition: ease 0.4s;
    transform: translateY(-1px);
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.57);
}
.book-item-row > .book-button:has(svg) {
    background-color: transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    align-self: center;
}
.book-item-row > .book-button:has(svg):hover {
    transform: none;
    box-shadow: none;
}
.book-item-row > .book-button > .delete-icon {
    fill: gray;
}
.book-item-row > .book-button > .delete-icon:hover {
    fill: red;
    transition: ease 0.4s;
    transform: translateY(-1px);
}