:root {
    font-family: Roboto, sans-serif;
    line-height: 1.3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

dialog {
    margin: auto;
    border: none;
    padding: 20px 30px;
    border-radius: 2vw;
}
dialog > form {
    display: flex;
    flex-direction: column;
}
dialog h3 {
    text-align: center;
    margin-bottom: 10px;
}
dialog::backdrop {
    background-color: rgba(149, 149, 149, 0.59);
}

/* BOOK CARDS START */
.books-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.book-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 2vw;
    overflow: hidden;
    background-color: rgb(246, 244, 241);
    box-shadow: 1px 1px 5px rgb(221, 221, 221);
}

.book-item > .book-item-row {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.book-item > h3 {
    text-align: center;
    background-color: red;
    padding: 10px 0;
    top: 0;
    color: white;
}

.book-item-row > .book-field {
    width: 20%;
    text-align: right;
}
.book-item-row > .book-data {
    width: 80%;
}